*{
    word-wrap: break-word;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-bottom: 2%;
}

.conteneur_all{
    width: 80%;
    margin : auto;
    min-height : 500px;
    margin-bottom: 5%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px rgb(0,0,0);
    display : flex;
}

.menu-information{
    width: 20%;
    margin-right: 5%;
    border-right: 1px solid black;
    text-align: center;
}

.menu-information h3, .contenu-menu h3{
    margin-top:20px;
    margin-bottom: 20px;
}

.menu-information hr, .contenu-menu hr{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.menu-information ul{
    list-style: none;   
    padding-left: 0px; 
    
}

.menu-information li{
    margin-bottom: 15px;    
}

.menu-information li:hover{
    text-decoration: underline; 
    cursor: pointer;   
}


.contenu-menu{
    width: 75%;
    text-align: center;
}

.mail{
    margin-bottom: 20px;
}

#email, #mdp{
    height: 38px;
}

.bouton_modif{
    height:38px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background: rgb(40, 167, 69);
    color: rgba(255, 255, 255, 1);
    border: 0px solid rgba(255, 255, 255, 1);
}

@media  (max-width: 480px) {
  
    h1{

        margin-top: 30%;
    }


  }