/* HEADER */
*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: lightgrey;
    height: 90px;
    width: 100%;
    padding-right: 0;
    display: flex;
    justify-content:  space-around;
    flex-direction: row;
    
}

header a 
{
    text-decoration: none;
}

header a:hover
{
    text-decoration: underline;
}

header img
{
    background-color: lightgrey;
    height: 100% ;
    width: 30% ;
    display: flex;
    align-content: flex-end;
}

.image
{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.panierEtConnection
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 30%;
}


.panier
{
    width: 50%;
    display: flex;
    padding-top: 10px;
}
.connecter
{
    
    display: flex;
    justify-content: space-between;
    right: 0px;
    width: 40%;
}

.far
{
    padding: 10px;
    height: 25%;
    width: 25%;
}

header p
{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.div-titre
{
    display: flex;
    justify-content: center;
    width: 50%;
}

.titre
{
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
    font-size: 2em;
}

header i
{
    height: 50%;
    width: 500%;
}

.a-panier
{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.a-image
{
    display: flex;
    justify-content: center;
}

.fas
{
    display: flex;
    height: auto;
    width: auto;
    align-content: flex-end;
}
/* BODY */

body
{
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

.corps-de-page
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.formulaire-recherche
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
form
{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.recherche
{
    height: auto;
    width: auto;
    height: 70px;
    width: 100%;
    margin:none;
    padding: none;
}
button
{
    height: 70px;
    width: 200px;
}
p
{
    padding: none;
    margin: unset;
    height: 70px;
    width: 200px;
}
#champ
{

    height: 70px;
    width: 200px;
}
input
{
    height: 70px;
    width: 200px;
    margin-bottom: 5%;
}
select
{
    height: 70px;
    width: 200px;
}
select
{
    text-align: center;
    font-weight: bold;
}

.produit
{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.meilleures-ventes
{
    height: 100%;
    width: 100%;
}

.prix-prod
{
    display : inline-block;
    width: 30%;
}

.logo-steam
{
    display : inline-block;
    width: auto;
    height: auto;
}

.logo-info-jeu
{
    width: auto;
}

.info-jeu
{
    display : inline-block;
    width: auto;
    height: 15%;
    width: 100%;

}

.nom-produit
{
    font-size: 18px;
    text-transform: uppercase;

}

.logo-conn-internet
{
    display : inline-block;
    padding-left: 5%;
    width: auto;
    height: 15%;
}

.prod-MV-banniere
{
    height: 35%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    margin-top: 2%;
}

.promotion
{
    display: inline-block;
    padding-left: 5%;
}

.promotion-ban
{
    display: inline-block;
    padding-left: 1%;
}

.prod-MV
{
    height: 255px;
    width: 20%;
    display: inline-block;
    margin-top: 2%;
    padding-left: 3.5%;
}

.precommandes
{
    width: 100%;
    height: 2%;
    display: inline-block;
    padding-top: 2%;
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.jeu-preco
{
    width: 60%;
    height: 100%;
    padding-bottom: 2%;
    display: flex;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
}

.date-sortie
{
    margin-top: 5%;
    height: 100px;
    writing-mode: sideways-lr;
    text-align: center;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
    font-size: 24px;
    text-transform: capitalize;
}

.image-jeu-preco
{
    width: 50%;
}
.info-jeu-preco
{
    display: flex;
    align-items: center;
    padding-left: 1%;
    justify-content: space-between;
    height: 5%;
    font-size: 24px;
}
.logo-steam-preco
{
    width: 2%;
    height: 2%;
    padding-left: 5%;
}

.logo-monde-preco
{
    width: 2%;
    height: 2%;
    padding-left: 5%;
}

.prix-jeu-preco
{
    font-size: 24px;
    font-weight: bold;
    width: 2%;
    height: 2%;
    padding-left: 5%;
}

/* FOOTER */

footer
{
    background-color: #ea732b;
}

footer span
{
    
    color : white; 
}

footer a
{
  
    text-decoration: none;
}

footer a:hover
{
 
    text-decoration: underline;
}



footer section
{

    width: auto;
    height:343.8px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#block-1
{

    display: flex;
    justify-content: center;
}

.ul-1
{

    list-style-type: none;

    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block-1
{
    width: 300px;
    height: 40px;

}

#block-2
{

    display: flex;
    justify-content: center;
}

.ul-2
{

    list-style-type: none;
    width: auto;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block-2
{
    width: 200px;
    height: 40px;

}

#block-3
{

    display: flex;
    justify-content: center;
}

.ul-3
{

    list-style-type: none;
    width: auto;
    height: auto;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: space-around;
}

.block-3
{
    width: 250px;
    height: 40px;

}

#block-4
{

    list-style-type: none;
    margin: 10px;
    padding: 0px;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.ul-4
{

    margin: 5px;
    padding: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.block-4
{
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 30px;
    height: 30px;
}